{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <a href="{{ path('task_create') }}" class="btn btn-default">Create new Task</a>
    <a class="btn btn-default" data-toggle="collapse" href="#exportData" role="button" aria-expanded="false" aria-controls="exportData">
        Export
    </a>
    <div class="collapse row" id="exportData">
        <div class="col-md-4">
            {{ form(download) }}
        </div>
    </div>
    <hr>
    <table width="100%">
        <thead>
            <th>Title</th>
            <th>Date</th>
            <th>Spent Time, min</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.date }}</td>
                    <td>{{ task.timeSpent }}</td>
                    <td><a href="{{ path('task_view', {'id': task.id}) }}" class="btn-primary btn-sm btn">View</a></td>
                    <td><a href="{{ path('task_edit', {'id': task.id}) }}" class="btn-primary btn-sm btn">Edit</a></td>
                    <td>{{ form(forms[task.id]) }}</td>
                </tr>
            {% else %}
                {% include 'common/no-result.html.twig' only %}
            {% endfor %}
        </tbody>
    </table>
    {% include 'common/pagination.html.twig' with {'data': tasks} %}
{% endblock %}
